.btn {
  border-radius: 15px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.12);
}

.btn-danger {
  color: $white !important;
  background-color: $danger !important;
  border-color: $danger !important;
}

.btn-success {
  color: $white !important;
  background-color: $success !important;
  border-color: $success !important;
}

.btn-primary {
  color: $white !important;
  background-color: $blue !important;
  border-color: $blue !important;
}

.btn-dark-blue {
  color: $white !important;
  background-color: $custom-primary;
  border-color: $custom-primary;

  transition: all ease-out .5s;
}

.btn-light-blue {
  color: $white !important;
  background-color: $base-blue !important;
  border-color: $base-blue !important;
}

.btn-light-grey {
  color: $font-base !important;
  background-color: $light-grey !important;
  border-color: $light-grey !important;
}
