.gallery-main {
  position: relative;


  &::before {
    content: " ";
    position: absolute;
    border-left: 1px #001B48 solid;
    top: -50px;
    right: 0;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
  }

}

.album-icon {
  cursor: pointer;
  transition: all ease-out .5s;

  &:hover {
    transform: scale(1.1);
  }

  svg {
    fill: $custom-primary;
  }
}

.item-preview {
  svg {
    fill: $custom-primary;
  }
}
