nav {
  background-color: $custom-primary;
  display: flex;

  a {
    text-decoration: none !important;
    color: $light-grey !important;
    transition: all ease-out .5s;

    &:hover {
      color: $light-blue !important;
      text-decoration: none;
    }

  }

}


.gallery-side-nav {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    border-left: 1px #001B48 solid;
    top: -50px;
    right: 0;
    height: 300%;
    margin-top: auto;
    margin-bottom: auto;
  }

  svg {
    cursor: pointer;
    transition: all ease-out .5s;

    fill: $custom-primary;

  }
}
