.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 54px;
  height: 54px;
  padding: 5.4px;
  @include media-breakpoint-up(md) {
     width: 108px;
     height: 108px;
     padding: 10.8px;
  }
  @include media-breakpoint-up(lg) {
    width: 174px;
    height: 174px;
    padding: 32px
  }
  margin: 0 auto;
  border-radius: 50%;
  background-color: $white;
  transition: transform .3s ease;
  &:hover {
    transform: scale(1.1);
  }
  img{
    width: 100%;
    height: auto;
  }
}
