.table-light{
  border-radius: 15px 15px 15px 15px !important;
  background-color: $light-grey !important;
  border-color: $light-grey !important;

  th,
  td {
    border: none !important;

    &.image-td {
      width: 200px !important;
    }

  }
}
